*{
    padding: 0%;
    margin:0%;
}
.layout{
    text-align: left;
    padding-left: 6%;
    padding-right: 6%;
    /* cursor:grab; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
@media only screen and (min-width:900px){
    .layout{
        padding-left: 20%;
        padding-right: 20%;
    }   
}

.head{
    padding-top: 5%;

}
.para{
    padding-top: 2%;
}
.image{
    max-width: 350px;
    max-height: 400px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}