.PostDetail {
  flex: 9;
  padding-top: 10px;
}
.postWrapper {
  /* margin-left: 10px; */
  /* padding: 20px; */
  padding-top: 20px;
  padding-right: 2px;
  padding-left: 2px;
}
.postimg {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}
.Posttitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.editPost {
  float: right;
  font-size: 18px;
}
.EditPostIcon {
  margin-right: 10px;

  cursor: pointer;
}
.EditPostIcon:first-child {
  color: cadetblue;
}
.EditPostIcon:last-child {
  color: darkorange;
}
.Postinfo {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.Postcategories {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.PostCategory {
  font-family: "Josefin Sans", sans-serif;
  line-height: 20px;
  font-size: 8px;
  font-weight: 600;
  margin-right: 10px;
  color: coral;
  cursor: pointer;
  border: solid 1px black;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(0, 0, 0);
}
.author {
  color: coral;
}
.date {
  color: cornflowerblue;
  font-size: 14px;
}
.postcontent {
  margin-top: 10px;
  font-size: 19px;
  line-height: 30px;
}
.postcontent::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}
